html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.block {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.block1 {
  background-color: lightblue;
  height: 10%;
  text-align: left;
}

.block7 {
  background-color: lightblue;
  height: 10%;
  text-align: right;
}

.main-content {
  height: 80%;
  overflow-y: auto;
}

.left-column {
  float: left;
  width: 60%;
  height: 100%;
}

.right-column {
  float: right;
  width: 40%;
  height: 100%;
}

.block2 {
  background-color: peachpuff;
  height: 100%;
  width: 40%;
  overflow: auto;
  float: left;
  margin-right: 15%;
  text-align: left;
}

.block3 {
  background-color: lightgreen;
  width: 30%;
  height: 100%;
  overflow: auto;
  overflow-wrap: break-word;
}

.under-blocks {
  height: 82.5%;
}

.block4 {
  background-color: peachpuff;
  height: 17.5%;
  overflow: auto;
  overflow-wrap: break-word;
}

.block5 {
  background-color: white;
  width: 40%;
  height: 100%;
  float: left;
  overflow: auto;
  overflow-wrap: break-word;
  margin-right: 20%;
}

.block6 {
  background-color: lightgreen;
  width: 40%;
  height: 100%;
  float: left;
  overflow: auto;
  overflow-wrap: break-word;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 875px) {
  .left-column {
    float: left;
    width: 100%;
  }
  .right-column {
    float: left;
    width: 100%;
  }
  .block3,
  .block2 {
    width: 40%;
  }

  .block2 {
    margin-right: 20%;
  }
}
