html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.block {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.block1 {
  background-color: lightblue;
  display: flex;
  height: 10%;
}

.block7 {
  background-color: lightblue;
  display: flex;
  justify-content: flex-end;
  height: 10%;
}

.main-content {
  display: flex;
  height: 80%;
  flex-wrap: wrap;
  overflow-y: auto;
}

.left-column {
  flex: 3;
  display: flex;
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.block2 {
  background-color: peachpuff;
  flex: 1.388;
  margin-right: 15%;
  overflow: auto;
  align-items: center;
  text-align: left;
}

.block3 {
  background-color: lightgreen;
  flex: 1;
  overflow: auto;
  margin-right: 15%;
}

.block4 {
  background-color: peachpuff;
  flex: 0.4;
  overflow: auto;
}

.under-blocks {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.block5 {
  background-color: white;
  width: 40%;
  overflow: auto;
}

.block6 {
  background-color: lightgreen;
  width: 40%;
  overflow: auto;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 875px) {
  .block5,
  .block6 {
    width: 100%;
  }

  .block3 {
    margin-right: 0;
  }

  .block2 {
    margin-right: 20%;
    flex: 1;
  }

  .block5 {
    margin-right: 20%;
  }
}
