html,
body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100%;
}

.block {
  padding: 10px;
  border: 1px solid #000;
  text-align: center;
  box-sizing: border-box;
}

.block1 {
  background-color: lightblue;
  height: 10%;
  display: flex;
}

.block7 {
  background-color: lightblue;
  justify-content: right;
  height: 10%;
  display: flex;
}

.main-content {
  display: flex;
  height: 80%;
  flex-wrap: wrap;
  overflow-y: auto;
}

.left-column {
  width: 60%;
}

.right-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.block2 {
  background-color: peachpuff;
  width: 40%;
  height: 100%;
  display: flex;
  float: left;
  margin-right: 15%;
  overflow: auto;
  text-align: left;
}

.block3 {
  background-color: lightgreen;
  width: 30%;
  height: 100%;
  overflow: auto;
  overflow-wrap: break-word;
}

.under-blocks {
  height: 100%;
}

.block4 {
  background-color: peachpuff;
  width: 100%;
  height: 20%;
  overflow: auto;
  overflow-wrap: break-word;
}

.block5 {
  width: 40%;
  overflow: auto;
  overflow-wrap: break-word;
}

.block6 {
  background-color: lightgreen;
  width: 40%;
  overflow: auto;
  overflow-wrap: break-word;
}

.under-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

@media screen and (max-width: 875px) {
  .left-column,
  .right-column {
    width: 100%;
  }

  .block2,
  .block5,
  .block6 {
    width: 40%;
  }

  .block4 {
    height: 100%;
  }

  .block3 {
    width: 45%;
  }
}
