body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.block {
    padding: 20px;
    background-color: lightgray;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box;
}

.block1 {
    background-color: lightblue;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 10vh;
    display: flex;
}

.block7 {
    background-color: lightblue;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.main-content {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
}

.left-column {
    width: 60%;
}

.right-column {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.block2 {
    background-color: peachpuff;
    width: 40%;
    height: 80vh;
    display: flex;
    float: left;
    margin-right: 15%;
    overflow: auto;
    overflow-wrap: break-word;
}

.block3 {
    background-color: lightgreen;
    width: 30%;
    height: 80vh;
    float: left;
    overflow: auto;
    overflow-wrap: break-word;
}

.block4 {
    background-color: peachpuff;
    width: 100%;
    height: 15vh;
    float: right;
    overflow: auto;
    overflow-wrap: break-word;
}

.block5 {
    background-color: white;
    width: 25vh;
    height: 65vh;
    overflow: auto;
    overflow-wrap: break-word;
}

.block6 {
    background-color: lightgreen;
    width: 25vh;
    height: 65vh;
    overflow: auto;
    overflow-wrap: break-word;
}

.under-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

@media screen and (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }

    .left-column, .right-column {
        width: 100%;
    }

    .block5, .block6 {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .block1, .block7 {
        flex-direction: column;
        padding: 0 20px;
    }

    .block5, .block6 {
        width: 100%;
    }
}